body{
    background-color: mistyrose;

}

table{
    float: center;
    text-align: center;
}

h1{
    text-align: center;
}

.hi1{
    /* height: 10%;
    width: 80%; */
    text-align: center;
    background-color: rgb(236, 82, 113);

}

.hi2{
    /* height: 10%;
    width: 50%; */
    text-align: center;
    background-color: rgb(182, 118, 241);

}

.hi3{
    /* height: 10%;
    width: 50%; */
    text-align: center;
    background-color: rgb(132, 173, 250);
}